@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-shake {
  animation: shake 0.25s;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  25% { transform: translate(-2px, -2px) rotate(-1deg); }
  50% { transform: translate(2px, -2px) rotate(1deg); }
  75% { transform: translate(-2px, 2px) rotate(1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
